* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main_font_color: #ffffff;
  --second_font_color: #000000;
  --accent_color: #ff6b08;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  margin: -1px;
  font-size: 0;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #f4f6f9;
  padding: 10px;
}

.wrapper {
  background-color: var(--main_font_color);
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background-color: #1e2939;
  width: 280px;
  padding: 30px 0;
}

.my-photo {
  display: block;
  width: 270px;
  margin: 0 auto;
  border-radius: 50%;
}

.main__container {
  padding: 30px 40px;
  max-width: 840px;
}

.contacts-container > div:not(:last-child) {
  margin-bottom: 10px;
}

.contacts-container {
  margin: 50px 30px 0 30px;
}

.contact:not(:last-child) {
  margin-bottom: 10px;
}

.contacts-link {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
  width: 100%;
}

.contacts-link:not(:last-child) {
  margin-bottom: 5px;
}

.contacts-link::before {
  display: block;
  color: var(--main_font_color);
  margin-right: 20px;
  content: '';
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contacts-link--location::before {
  background-image: url(../images/icon/location.svg);
}

.contacts-link--phone::before {
  background-image: url(../images/icon/phone.svg);
}

.contacts-link--mail::before {
  background-image: url(../images/icon/mail.svg);
}

.contacts-link--telegram::before {
  background-image: url(../images/icon/telegram.svg);
}

.contacts-link--linkedin::before {
  background-image: url(../images/icon/linkedin.svg);
}

.contacts-link--github::before {
  background-image: url(../images/icon/github.svg);
}

.aside-container {
  margin: 30px 40px 0 40px;
}
.aside__list {
  margin-bottom: 30px;
}

.aside__item {
  color: var(--accent_color);
  font-size: 16px;
  margin-left: 15px;
  line-height: 24px;
}

.skill__item {
  color: var(--accent_color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.aside__item-color {
  color: var(--main_font_color);
}

.skill__item-color {
  color: var(--second_font_color);
}

.position {
  color: var(--accent_color);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  /* margin-bottom: 10px; */
}

.name {
  color: var(--second_font_color);
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5em;
}

.description {
  color: #595959;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
}

.section {
  margin-bottom: 20px;
}

.sidebar .section__title {
  color: var(--main_font_color);
}

.section__title {
  color: var(--second_font_color);
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  /* margin-bottom: 10px; */
}

.project-list__item {
  color: #ff6b08;
}

.project-list__item:not(:last-child) {
  /* margin-bottom: 8px; */
}

.project-list__link {
  display: block;
  color: var(--second_font_color);
  font-size: 14px;
  line-height: 14px;
}

.project-list__tech {
  font-family: 'Montserrat - Regular';
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.work__company {
  font-weight: 700;
  color: var(--second_font_color);
}

.data {
  color: #a8a8a8;
  font-size: 12px;
  margin-bottom: 10px;
}

.specialty {
  color: var(--second_font_color);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  /* margin-bottom: 10px; */
}

.paragraf__bottom {
  /* margin-bottom: 10px; */
}

.work__item,
.education__item,
.languages__item {
  color: var(--accent_color);
}

.education__item:not(:last-child) {
  /* padding-bottom: 25px; */
}
